@import url("./node_modules/bootstrap/dist/css/bootstrap.min.css");
* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Josefin San;
  src: url("./font/JosefinSans-Regular.ttf");
  font-weight: 700;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body a {
  text-decoration: none;
  color: black;
}
/* Header */
.header {
  width: 100%;
  height: 150px;
}
.header .item {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.header .item .icon {
  width: 111px;
  height: 40px;
  background-color: gray;
}
.header .item .list {
  width: 60%;
  display: flex;
  margin-top: 30px;
}
.header .item .circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
}
.header a:hover {
  color: black;
  text-decoration: underline;
}

.header .item .head-list {
  width: 60%;
  display: flex;
  margin-right: -55px;
  margin-top: 30px;
}
.header .icon {
  width: 111px;
  height: 40px;
}
.header .icon img {
  width: 100%;
}
/* search */
.header-search {
  width: 100%;
  height: 200px;
  background-color: white;
  position: fixed;
  top: -200px;
  transition: 1s;
}
.header-search input {
  position: absolute;
  width: 100%;
  height: 160px;
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  border-bottom: none;
}
.header-search i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 26px;
  padding-right: 20px;
  padding-bottom: 8px;
}
/* help */
.header-help {
  width: 100%;
  height: 350px;
  background-color: white;
  position: fixed;
  top: -350px;
  display: flex;
  justify-content: space-around;
  transition: 1s;
  z-index: 1;
}
.header-help .item {
  height: 100%;
  width: 20%;
}
.help-close {
  margin: 0;
  position: absolute;
  bottom: 12px;
  right: 23px;
  font-size: 28px;
}
.header-help .title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
}
.header-help .details div {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}
.header-help a:hover {
  color: black;
  text-decoration: underline;
}
/* header-account */
.accnt {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.accnt .layout {
  width: 100%;
  height: 100%;
  background-color: #000000d9;
  position: absolute;
}
.accnt {
  display: none;
}
.header-account {
  width: 532px;
  height: 400px;
  background-color: white;
  position: fixed;
  border: 1px solid black;
  z-index: 1;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}
.header-account .log-in {
  width: 84%;
  height: 50px;
  margin-right: 20px;
  margin-left: 38px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: black;
  color: white;
}
.mb-3 {
  margin-bottom: 1rem !important;
  margin-left: 10px;
  margin-right: 10px;
}
.form-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.header-account .forgot {
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid black;
}
.header-account .forgot:hover {
  text-decoration: underline;
}
.create-account {
  width: 50%;
  height: 50px;
  margin-left: 119px;
  margin-top: 30px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: black;
  color: white;
}
/* feature-content */
.feature-content {
  height: 370px;
}
.feature-img img {
  max-width: 100%;
}
.feature-details {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}
.feature-content a:hover {
  color: black;
  text-decoration: underline;
}
/* shopify-hero */
.shopify-hero {
  height: 800px;
  position: relative;
  z-index: -1;
}
.shopify-hero .item {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopify-image {
  max-width: 100%;
  max-height: 100%;
}
.shopify-image img {
  width: 1300px;
  height: 760px;
}
.shopify-hero .item .hero {
  position: absolute;
  bottom: 55px;
  left: 140px;
}

.item .hero a {
  color: white;
}
.last-call {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

.holiday-sale {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 15px;
}

.shop-here {
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}
.shop-here:hover {
  text-decoration: none;
}
.shopify-hero a:hover {
  color: black;
}
/* shopify-acticles */
.shopify-acticles {
  margin-top: 30px;
}
.shopify-acticles .content {
  width: 100%;
  height: 80px;
}
.content .content-title {
  font-size: 45px;
  font-weight: 600;
  color: white;
  width: 450px;
  height: 50px;
  background-color: black;
  text-align: center;
  line-height: 50px;
}
.shopify-acticles a {
  width: 100%;
  height: 100%;
}
.shopify-acticles a:hover {
  color: black;
}
.shopify-acticles .item {
  width: 100%;
  height: 300px;
}
.shopify-acticles .item img {
  width: 100%;
  height: 100%;
}
.shopify-acticles .acticles {
  padding-top: 60%;
}
.shopify-acticles .item .title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}
.shopify-acticles .item .details {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
.shopify-acticles .item .more {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}
.shopify-acticles .item .more:hover {
  text-decoration: none;
}
/* favorite-style */
.favorite-style {
  margin-top: 10%;
  margin-bottom: 10%;
}
.favorite-style .favor-content {
  width: 100%;
  height: 50px;
}
.favorite-style p {
  width: 464px;
  font-size: 45px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 50px;
  font-weight: 600;
}
.favor img {
  width: 100%;
}
.favor {
  margin-top: 30px;
}
.favor .title {
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
}
.favor .cost {
  font-size: 14px;
  font-weight: 200;
}
.favor a:hover {
  color: black;
}
/* shopify-pair */
.shopify-pair {
  position: relative;
  margin-top: 5%;
  z-index: -1;
}
.shopify-pair .discount {
  width: 100%;
  height: 50px;
}
.shopify-pair .discount .incentive-gift {
  width: 600px;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.shopify-pair img {
  width: 100%;
  height: 500px;
}
.shopify-pair .title {
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
}

.shopify-pair .detail {
  font-size: 14px;
  font-weight: 200;
}
.shopify-pair a:hover {
  color: black;
}
.shopify-pair-content {
  margin-top: 30px;
}
/* footer */
.footer {
  margin-top: 150px;
}
.footer .item {
  height: 250px;
}
.footer .title {
  font-size: 16px;
  font-weight: 600;
}
.footer .text {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 400;
}
.footer .text a {
  text-decoration: underline;
}
.footer .text a:hover {
  color: black;
}
.footer .email {
  font-size: 14px;
  padding-top: 15px;
  font-weight: 400;
  text-decoration: none;
}
.footer-meta {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}
.footer-meta .terms {
  margin: 0;
  padding-right: 30px;
}
.footer-meta .privacy {
  margin: 0;
}
.footer a:hover {
  color: black;
}
.heading {
  display: none;
}
.shopify-actcl,
.shopify-content,
.mobile-header,
.shopofy-mobile,
.foot {
  display: none;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px;
  }
  .shopify-actcl,
  .shopify-content,
  .mobile-header,
  .shopofy-mobile,
  .foot {
    display: none;
  }
  .shopify-image img {
    width: 100%;
    height: 760px;
  }
  .shopify-pair {
    position: relative;
    margin-top: 0%;
  }
  .heading {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .shopify-actcl,
  .shopify-content,
  .mobile-header,
  .shopofy-mobile,
  .foot {
    display: none;
  }
  /* header */
  .header .item .list {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }
  .header .item .head-list {
    width: 100%;
    display: flex;
    margin-right: 15px;
    margin-top: 30px;
  }
  /* feature-content */
  .feature-content {
    height: 280px;
  }
  /* footer */
  .footer .email {
    font-size: 14px;
    width: 100%;
    padding-top: 15px;
    font-weight: 400;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .heading {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 970px;
  }
  .shopify-actcl,
  .shopify-content,
  .mobile-header,
  .shopofy-mobile,
  .foot {
    display: none;
  }
  /* header */
  .header .item .list {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }
  .header .item .head-list {
    width: 100%;
    display: flex;
    margin-right: 15px;
    margin-top: 30px;
  }
  /* shopify-hero  */
  .shopify-hero .item .hero {
    position: absolute;
    bottom: 55px;
    left: 74px;
  }
  /* shopify-acticles */
  .shopify-acticles {
    margin-top: 60px;
    height: 400px;
  }
  /* favorite-style */
  .favorite-style {
    margin-top: 10%;
  }
  /* feature-content */
  .feature-content {
    height: 280px;
  }
  /* footer */
  .footer .email {
    font-size: 14px;
    width: 100%;
    padding-top: 15px;
    font-weight: 400;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .heading {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .shopify-content {
    display: none;
  }
  .header,
  .mobile-header,
  .shopofy-mobile,
  .foot {
    display: none;
  }
  .heading {
    display: block;
    margin-bottom: 20px;
  }
  .heading .item {
    width: 100%;
    display: flex;
  }
  .heading .icon {
    width: 100px;
    height: 70px;
  }
  .heading .icon img {
    width: 100%;
    height: 100%;
  }
  .heading .list {
    width: 100%;
    display: flex;
  }
  .heading .head-list {
    width: 100%;
    display: flex;
    margin-left: 50px;
    margin-top: 23px;
  }
  .heading .circle {
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 20px;
  }
  /* feature-content */
  .feature-content {
    height: 200px;
  }
  /* shopify-hero */
  .shopify-hero {
    height: 520px;
    position: relative;
  }
  .shopify-image img {
    width: 700px;
    height: 460px;
  }
  .shopify-hero .item .hero {
    position: absolute;
    bottom: 55px;
    left: 150px;
  }
  /* shopify-actcl */
  .shopify-acticles {
    display: none;
  }
  .shopify-actcl {
    display: block;
  }
  .shopify-actcl .content {
    margin-bottom: 20px;
  }
  .shopify-actcl .item {
    position: relative;
    z-index: -1;
  }
  .shopify-actcl .item img {
    width: 100%;
    height: 400px;
  }
  .shopify-actcl .acticles {
    display: none;
  }
  .shopify-actcl .acticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: #00000066;
  }
  .shopify-actcl .acticles .title {
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .shopify-actcl .acticles:hover {
    display: block;
  }
  /* favorite-style */
  .favorite-style {
    height: 480px;
    margin-top: 10%;
  }
  .favor .title {
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
  }
  .favor .cost {
    font-size: 12px;
    font-weight: 200;
  }
}
@media only screen and (max-width: 769px) {
  .container {
    width: 100%;
  }
  .header,
  .mobile-header,
  .shopofy-mobile,
  .foot {
    display: none;
  }
  .heading {
    display: block;
    margin-bottom: 20px;
  }
  .heading .item {
    width: 100%;
    display: flex;
  }
  .heading .icon {
    width: 100px;
    height: 70px;
  }
  .heading .icon img {
    width: 100%;
    height: 100%;
  }
  .heading .list {
    width: 100%;
    display: flex;
  }
  .heading .head-list {
    width: 100%;
    display: flex;
    margin-left: 50px;
    margin-top: 23px;
  }
  .heading .circle {
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    margin-top: 20px;
  }
  /* feature-content */
  .feature-content {
    height: 200px;
  }
  /* shopify-hero */
  .shopify-hero {
    height: 520px;
    position: relative;
  }
  .shopify-image img {
    width: 700px;
    height: 460px;
  }
  .shopify-hero .item .hero {
    position: absolute;
    bottom: 55px;
    left: 150px;
  }
  /* shopify-actcl */
  .shopify-acticles {
    display: none;
  }
  .shopify-actcl {
    display: block;
  }
  .shopify-actcl .content {
    margin-bottom: 20px;
  }
  .shopify-actcl .item {
    position: relative;
    z-index: -1;
  }
  .shopify-actcl .item img {
    width: 100%;
    height: 400px;
  }
  .shopify-actcl .acticles {
    display: none;
  }
  .shopify-actcl .acticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: #00000066;
  }
  .shopify-actcl .acticles .title {
    font-size: 18px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .shopify-actcl .acticles:hover {
    display: block;
  }
  /* favorite-style */
  .favorite-style {
    height: 480px;
    margin-top: 10%;
  }
  .favor .title {
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
  }
  .favor .cost {
    font-size: 12px;
    font-weight: 200;
  }
  /* shopify-pair */
  .shopify-pair-content {
    display: none;
  }
  .shopify-content {
    display: block;
  }
  .shopify-pair .shopify-content img {
    width: 100%;
    height: unset;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
  .header,
  .header-search,
  .header-help,
  .accnt,
  .heading,
  .shopify-actcl,
  .footer {
    display: none;
  }
  .shopofy-mobile {
    display: block;
  }
  /* mobile-header */
  .mobile-header {
    display: block;
  }
  .mobile-header {
    position: relative;
    width: 100%;
    height: 440px;
    margin: 0 auto;
  }
  .mobile-header .mobile-head {
    width: 100%;
  }
  .mobile-head img {
    max-width: 100%;
    height: 440px;
  }
  .mobile-header .mobile-infor {
    width: 100%;
    position: absolute;
    bottom: 14px;
  }
  .mobile-infor div {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }
  .mobile-details {
    width: 100%;
    position: absolute;
    display: flex;
    top: 10px;
  }
  .mobile-details .open {
    font-size: 24px;
    margin-left: 20px;
    color: white;
  }
  .mobile-details .mobile-acc {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .mobile-content {
    position: fixed;
    height: 100%;
    width: 256px;
    background-color: white;
    top: 0;
    left: -256px;
    transition: 0.1s;
  }
  .mobile-content .close i {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 24px;
  }
  .mobile-content .content {
    width: 100%;
    margin-top: 60px;
  }
  .content .information {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    gap: 115px;
    margin-bottom: 30px;
  }
  .content .information:hover {
    background-color: #00000075;
    color: white;
  }
  .mobile-content .back {
    width: 180px;
    height: 100%;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
  }
  .mobile-content .back {
    display: none;
  }
  .mobile-header .mobile-account {
    width: 300px;
    height: 350px;
    background-color: white;
    position: fixed;
    top: 140px;
    left: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transform: translateX(-50%);
    z-index: 2;
  }
  .mobile-account button {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    border-radius: 7px;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
    margin-top: 10px;
  }
  .mobile-account a {
    height: 50px;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
  }
  .mobile-header .account-back {
    width: 520px;
    height: 690px;
    background-color: #000000b5;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20%;
  }
  .mobile-header .mobile-account {
    display: none;
  }
  .mobile-header .account-back {
    display: none;
  }
  /* feature-content */
  .feature-content {
    width: 100%;
    height: 100%;
    margin: 30px auto;
  }
  .feature-details {
    font-weight: 600;
    padding-top: 10px;
    margin-top: -53px;
    margin-bottom: 40px;
    padding-left: 15px;
  }
  .feature-details a {
    font-size: 18px;
  }
  /* shopify-hero */
  .shopify-hero {
    display: none;
  }
  .content .content-title {
    width: 300px;
    font-size: 32px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 30px;
  }
  /* shopofy-mobile */
  .shopofy-mobile {
    display: block;
    width: 100%;
    height: 660px;
    background-color: red;
  }
  /* favorite-style */
  .favorite-style {
    height: 100%;
  }
  .favorite-style .favor-content {
    width: 300px;
    font-size: 32px;
    height: 105px;
    line-height: 70px;
  }
  .favorite-style p {
    width: 300px;
    font-size: 39px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 50px;
    font-weight: 500;
  }
  .favor .title {
    font-size: 22px;
  }
  .favor .cost {
    font-size: 22px;
  }
  .favor .item {
    margin-bottom: 30px;
  }
  /* shopify-pair */
  .shopify-pair .discount {
    width: 100%;
    height: 70px;
  }
  .shopify-pair .discount .incentive-gift {
    width: 400px;
    height: 60px;
    font-size: 32px;
    margin-bottom: 0;
    line-height: 60px;
  }
  .shopify-pair .title {
    font-size: 20px;
  }
  .shopify-pair .detail {
    font-size: 18px;
  }
  /* foot */
  .foot {
    display: block;
    margin-top: 100px;
  }
  .foot .title {
    font-size: 18px;
    font-weight: 600;
  }
  .foot .text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
  }
  .footer-meta {
    margin-top: 30px;
    font-size: 14px;
  }
}
